*~
.DS_Store
Thumbs.db

*.log
*.iml
.idea/
.vscode/
node_modules/
*.tgz
/release
testapp
/coverage
server/lib
*.diff
temp-test-*
/packages/*/lib
/test/build
/test/dist
/packages/*/test/build

scripts
!packages/hap-dsl-xvm/templates/app/demo/scripts
dist*

workspace.code-workspace